<mat-toolbar color="primary">
  <span>
    <a routerLink="/"> My Messages </a>
  </span>
  <div class="spacer"></div>
  <ul>
    <li *ngIf="isAuthenticated">
      <a routerLink="/create" mat-button routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>

    <li *ngIf="!isAuthenticated">
      <a routerLink="/login" mat-button routerLinkActive="mat-accent">Login</a>
    </li>

    <li *ngIf="!isAuthenticated">
      <a routerLink="/signup" mat-button routerLinkActive="mat-accent"
        >signup</a
      >
    </li>

    <li *ngIf="isAuthenticated">
      <button mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
