:host {
  display: block;
  margin-top: 1rem;
}

.p-info {
  text-align: center;
}

.mat-spinner {
  margin: auto;
}

.post-image {
  height: 6rem;
}

.post-image img {
  height: 100%;
}

mat-paginator {
  margin-top: 1rem;
}
